* {
    margin: 0;
    padding: 0;
}

body {
    flex-direction: column;
}

header, footer {
    width: 100%;
    text-align: center;
    background-color: royalblue;
}

footer {
    text-align: left;
    position: absolute;
    bottom: 0;
}